body {
    background-color: rgb(75, 74, 74);
    color: antiquewhite;
}
.jumbo-color{
    background-color: rgb(83, 81, 81);
}
.blog-title{
    font-weight: bold;
}

.form{
    color:rgb(177, 168, 168)
}