{% extends "blogapp/base.html" %}
{% load static %}
{% block title %} about {% endblock title %}
{% block content %}
<div class="col-sm-10">
    <h3 class="my-4">About Page</h3>
    <p>
        Certainly! The "About" section on a website or social media profile is a crucial component that provides 
        visitors with essential information about the individual, organization, or business associated with the 
        online presence. It serves as a concise introduction, offering insights into the entity's purpose, values, 
        and background. Here are key elements typically found in an "About" section:
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quia exercitationem eos natus deleniti hic iusto expedita, 
        tempore deserunt animi vitae, porro laboriosam tenetur 
        voluptatibus quam, laborum numquam labore harum sed.
    </p>

</div>

{% endblock content %}