{% extends "blogapp/base.html" %}
{% load static %}
{% block title %} deshbord {% endblock title %}

        {% block msg %}
        {% if messages %}
        {% for message in messages %}
        <p {% if message %} class= 'alert alert-{{message.tags}} mb-5' {% endif %}>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endblock msg %}


{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% for form in fm %}
    {{form.label_tag}} {{form}} {{form.errors | striptags}}
    {% endfor %}
    <br>
    <input type="submit" class='btn btn-success' value="Save">
    <a href="{% url 'deshbord' %}" class='btn btn-info text-decoration-none'>Cancel</a>
</form>

{% endblock content %}